:root {
  --property-color-bg: #e8fdf5;
  --value-color-bg: #cdecff;
  --property-color: #19a974;
  --value-color: #357edd;
}

label.required:after {
  content: ' *';
  color: red;
}

.property-text {
  padding: 0.1em 0.2em;
  background-color: var(--property-color-bg);
  border-bottom: 2px solid var(--property-color);
}

.property-bg {
  background-color: var(--property-color-bg);
}

.value-text {
  padding: 0.1em 0.2em;
  background-color: var(--value-color-bg);
  border-bottom: 2px solid var(--value-color);
}

.value-bg {
  background-color: var(--value-color-bg);
}


.base-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}

@media screen and (min-width: 60em) {
  .base-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .column-span-2 {
    grid-column: span 2;
  }
}

.b-hover {
  transition: all 0.2s ease-in-out;
  border-width: 2px;
  border-style: dashed;
}

.b-hover:not(:hover) {
  border-color: transparent;
}

input.validate:valid {
  background-color: palegreen;
}

input.validate:invalid {
  background-color: lightpink;
}