/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

ul,ol{margin-top:10;margin-bottom:24px;padding-left:24px}ul{list-style:disc}
ol{list-style:decimal}li>ul,li>ol{margin-bottom:5;padding-bottom: 0.1em;}
img{height:auto;max-width:100%;vertical-align:middle}
body{margin:0}article,aside,footer,header,nav,section{display:block}
li{padding-top: 0.3em;}

h1,h2,h3,h4,h5,h6,ul.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Roboto", sans-serif;font-weight:600}h1,.h1{font-size:28px;line-height:48px;letter-spacing:-0.1px}@media (min-width: 641px){h1,.h1{font-size:44px;line-height:54px;letter-spacing:0px}}h2,.h2{font-size:32px;line-height:42px;letter-spacing:-0.1px}@media (min-width: 641px){h2,.h2{font-size:38px;line-height:48px;letter-spacing:-0.1px}}h3,.h3,blockquote{font-size:24px;line-height:34px;letter-spacing:-0.1px}h4,h5,h6,.h4,.h5,.h6{font-size:20px;line-height:30px;letter-spacing:-0.1px}@media (max-width: 640px){.h1-mobile{font-size:38px;line-height:48px;letter-spacing:-0.1px}.h2-mobile{font-size:32px;line-height:42px;letter-spacing:-0.1px}.h3-mobile{font-size:24px;line-height:34px;letter-spacing:-0.1px}.h4-mobile,.h5-mobile,.h6-mobile{font-size:20px;line-height:30px;letter-spacing:-0.1px}}.text-light{color:#8595AE}.text-light a{color:#8595AE}.text-light h1,.text-light h2,.text-light h3,.text-light h4,.text-light h5,.text-light h6,.text-light .h1,.text-light .h2,.text-light .h3,.text-light .h4,.text-light .h5,.text-light .h6{color:#fff !important}.text-sm{font-size:18px;line-height:27px;letter-spacing:-0.1px}.text-xs{font-size:16px;line-height:24px;letter-spacing:-0.1px}h1,h2,.h1,.h2{margin-top:48px;margin-bottom:16px}h3,.h3{margin-top:36px;margin-bottom:12px}h4,h5,h6,.h4,.h5,.h6{margin-top:24px;margin-bottom:4px}p{margin-top:0;margin-bottom:24px}

:root {
  --primary-color-bg: #C7215D  ;
  --secondary-color-bg: #881866;
  --primary-color: #881866;
  --secondary-color: #dd35a5;
  --dropbox-color: #FFCA05
}

label.required:after {
  content: ' *';
  color: red;
}

.property-text {
  color:#881866;
  padding: 0.1em 0.2em;
  background-color: #e7e8ed;
  border-bottom: 2px solid var(--primary-color);
}

.property-bg {
  color:#9004ac;
  background-color: #fff;
  
  
}

.value-text {
  background-color: #e7e8ed;
  color:#C7215D;
  padding: 0.1em 0.2em;
  
  border-bottom: 2px solid var(--secondary-color);
}

.property-text-heading {
background-color: #881866;
color:#fff;
}
.value-text-heading {
  background-color: #C7215D;
  color:#fff;
  }

.value-bg {
  color:#1243c0;
  background-color: #fff;
  
}

.image {
  background-image: url("dist/images/npc-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  
}


.base-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}

@media screen and (min-width: 60em) {
  .base-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .column-span-2 {
    grid-column: span 2;
  }
}

.b-hover {
  transition: all 0.2s ease-in-out;
  border-width: 2px;
  border-style: dashed;
}

.b-hover:not(:hover) {
  border-color: transparent;
}

input.validate:valid {
  background-color: palegreen;
}

input.validate:invalid {
  background-color: lightpink;
}


body {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
  body {
      font-size: 14px;
  }
}

.tooltip {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.modal {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px;
}

.data-visualization-placeholder {
  background-color: var(--secondary-color-bg);
  border: 2px dashed var(--primary-color);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

/* DropZone Component Enhancements */

.drop-zone {
  border: 2px dashed var(--secondary-color);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: var(--secondary-color-bg) ;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  box-shadow: 3px 3px 10px rgba(231, 220, 220, 0.2);
  color: #fff;
  margin-bottom: 5em;
}

.drop-zone.drag-over {
  background-color: var(--secondary-color-bg);
  border-color: var(--secondary-color);
}

.drop-zone:hover{background-color: var(--primary-color-bg); 
border-color: var(--secondary-color-bg); }

.drop-zone input[type='file'] {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}



.drop-zone-instructions {
  font-size: 1rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.drop-zone-feedback {
  font-weight: bold;
  color: var(--secondary-color);
}

.drop-zone-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensuring box-sizing is border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-page{
align-items: center;
display: flex;
width: 80%;
}

/*navbar styling - simple in brand colours*/

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #662583  ; /* Purple background for navbar, can adjust */
padding: 5px;
color: #fff;
height: relative;
}

.navbar ul {
display: flex;
gap: 20px;
list-style-type: none;
padding: 0 20px;
margin: 0;
position: relative;
color: #19a974;
}


.navbar h1 {
flex: 2; /* Adjusts the flex-grow value to ensure it takes up more space and centers */
text-align: center;
}

.main-container {
margin: 0 auto;
width: 80%; /* Adjust as needed */
padding-top: 20px; /* Adjust based on navbar height */
}
.main-text-container {
margin: 0 auto;
width: 90%; /* Adjust as needed */
padding-top: 20px; /* Adjust based on navbar height */
}

/* Footer syling - neutral with responsiveness */

.footer{
background:#fff;
padding:30px 0px;
font-family: 'Roboto', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#8f0f68;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}


.footer-brand,
.footer-links,
.footer-social-links,
.footer-copyright{flex:none;width:100%;display:inline-flex;justify-content:center}
.footer-brand,
.footer-links,
.footer-social-links{margin-bottom:24px}
.footer-links li+li,
.footer-social-links li+li{margin-left:16px}
.footer-social-links li{display:inline-flex}
.footer-social-links li a{padding:8px}
